body{       font-family: 'Island Moments', cursive;

                        font-family: 'Moon Dance', cursive;
                    
                        font-family: 'Poppins', sans-serif;

}h1{
                        font-size: 50px;

}
.o-color{
                        color: orange;
}.violet-c{
                        color: violet;
} section{

                        display: flex;
}
.half-width{
                        width: 50%;
}.half-width{
                        
}.half-width img{
                        width: 40%;


                        padding-left: 5%;


}.yellow-c{

                        color: blue;
.link-button{
                        background: orange
                        ;
}.half-width{

                        width: 50%;
}section{
                        display: flex;
}